body{
	background-color: #000000;
}

p{
    color:#ffffff;
	font-family: 'Space Mono', monospace;
	font-size: 60px;
	margin-top: 10px;
	margin-left: 520px;
	margin-right:500px;
}
h1 {
	color:#1e83e1;
	margin-left:123px;
}
h2{
	color:#ffffff;
	margin-top: -90px;
}
h3{
	color:#b1bdbe;

}